:root {
	--container-width: 1440px;
	--container-padding: 80px;

	--font-family: "Muller", sans-serif;
	--second-family: "Roboto", sans-serif;
	

	--242734: #242734;
	--ffdf6d: #ffdd63;
	--e5e5e5: #e5e5e5;
	--00d1ff: #00d1ff;
	--a7a7a7: #a7a7a7;
	--eef0f4: #eef0f4;
	--EDAD3B: #EDAD3B;
	--FFFFFF: #FFFFFF; 


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}

